body{
    margin: 0;
} 

header{
    background-image: url(images/header.jpg);
    color: white;
    padding: 10px;
}

h1, h2{
    margin: 40px 60px;
}

h2{
    font-weight: 100;
}

h4{
    font-size: 25px;
}

.form_container{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 100px gray;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.visible{
    display: inline;
}

.flex{
    display: flex;
}

.menu_container, .order_container{
    flex-direction: column;
    margin: 50px;
    align-items: center;
}

.card_middle{
    padding: 20px;
}

.card_end{
    align-content: center;
}

.card_btn{
    border-radius: 100%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #D2D2D2;
    font-size: 20px;
}

.input{
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.card_container{
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
}

.menu_icon{
    width: 80px;
}

.card_title{
    font-size: 28px;
    margin: 0;
}

.card_description, .qty{
    font-size: 18px;
    color: gray;
}

.price{
    font-weight: bold;
    font-size: 20px;
}

.card_icon{
    font-size: 50px;
}

.order_header{
    text-align: center;
    font-size: 30px;
}

.total_price{
    border-top: 2px solid black;
    align-items: center;
    gap: 20px;
}

.order_item{
    gap: 10px;
    align-items: center;
}

.order_btn{
    width: 508;
    height: 60;
    border-radius: 3px;
    border: transparent;
    background: #16DB99;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.align_right{
    margin-left: auto;
}